<%= form_for(@race_partner) do |f| %>
  <% if @race_partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race_partner.errors.count, "error") %> prohibited this race_partner from being saved:</h2>

      <ul>
      <% @race_partner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :race_id, "Race" %><br />
    <%= f.collection_select :race_id, @races, :id, :name, {prompt: true} %>
  </div>
  <div class="field">
    <%= f.label :charity_id %><br />
    <%= f.collection_select :charity_id, @charities, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :total_slots %><br />
    <%= f.number_field :total_slots %>
  </div>
  <div class="field">
    <%= f.label :available_slots %><br />
    <%= f.number_field :available_slots %>
  </div>
  <div class="field">
    <%= f.label :donation_amount %><br />
    <%= f.number_field :donation_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
