<h1>Bank of America Chicago Marathon Official Charity Partners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Email</th>
    <th>Phone</th>
		<th>Website</th>
  </tr>


<% @charities.each do |charity| %>
  <tr>
    <td><%= link_to charity.name, charity %></td>
		<td><%= charity.contact %></td>
		<td><%= charity.email %></td>
		<td><%= charity.phone %></td>
		<td><%= charity.website %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Charity', new_charity_path %>
