<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @charity.name %>
</p>

<p>
  <b>Name:</b>
  <%= @charity.url %>
</p>

<p>
  <b>Name:</b>
  <%= @charity.contact %>
</p>

<p>
  <b>Name:</b>
  <%= @charity.email %>
</p>

<p>
  <b>Name:</b>
  <%= @charity.phone %>
</p>

<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
